# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/

# Visual Studio
.vs/
*.VC.db
*.VC.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates
*.opendb

#assets
Content/StarterContent/
Content/ElfArden
Content/Stylized_Dungeon
Content/StylizedCharacter
Content/StylizedCreaturesBundle
Content/StylizedEnemyNPC
Content/StylizedFantasy_VFX
Content/Fantastic_Dungeon_Pack


# Visual Studio Code (optional local settings)
.vscode/

# JetBrains Rider
.idea/

# OS
.DS_Store
Thumbs.db
Desktop.ini
